{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"svelteSortOrder": "scripts-markup-styles",
	"tabWidth": 4,
	"arrowParens": "avoid",
	"bracketSpacing": true
}
